{% extends 'DMScreen/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <div class="card mx-auto text-white bg-dark border-info">
        <h3 class="card-header text-center border-warning text-warning">Log In</h3>
        <div class="card-body mb-3">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info text-light"><i class="fas fa-sign-in-alt"></i> Log In</button>
            </form>
        </div>
    </div>
{% endblock %}